body {
    font-family: Roboto;
}
.container-1 {
background-color: #1F2937;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.title-subtext, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}