body {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
.container-1 {
background-color: #1F2937;
padding: 15px;
display: flex;
flex-direction: column;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.title-subtext, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 60px;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.header-links {
    display: flex;
    gap: 15px;
    margin-right: 60px;
}
.sign-up {
    background-color: #3882F6;
    color: white;
    border-radius: 13%;
    border: none;
}
.image {
    padding: 35px 0px;
    background-color: lightslategray;
    color: white;
    text-align: center;
    margin: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
}